{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password1" placeholder="Password" required><br>
        <input type="password" name="password2" placeholder="Confirm Password" required><br>
        <input type="submit" value="Signup as Employer">
    </form>
{% endblock %}
